html {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

body {
  color: $black;
  font-family: 'Sawarabi-Gothic', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  animation: fadeIn 1.5s forwards;
}
